.navbar {
    padding: 15px 30px;
  }
  
  .navbar-brand {
    font-size: 1.5em;
    margin-left: 15px;
  }
  
  .nav-link {
    color: #0075BE;
    font-size: 1.2em;
    margin-left: 20px;
  }
  
  .nav-link:hover {
    color: #FFCC00; /* Change to the color you prefer */
  }